body{
    font-family:Candara;
    font-size: 17px;
}

header{
    background-color: #dfe4e9;
    justify-content: center; 
}

nav{
    display:inline-block;
    width: 80%;
    }

ul{
    list-style-type: none;
    padding: 0;
    display:flex;
    justify-content: space-evenly;
}

header img{
    width: 10%;
    position: relative;
    top: 20px;
}

main{
    background-color: #d3cac2;
    font-size: 16px;
}

footer{
    background-color: rgb(168, 219, 219);
}

/* li {
    display: inline-block;
    width:151px;
    padding:10px;
    margin-right:1 px;
    color:rgb(199, 185, 185);
    border:3px solid rgb(223, 148, 148);
    text-align:center;
}

/* li a{
    color:rgb(255, 255, 255);
 } */


h1{
    text-align: center;
    font-family: arial;
    color:rgb(26, 116, 116)
}

p{
    line-height: 1.5em;
}

.grid_container{
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
}

.grid_container img{
    width:100%;
}


.flex_container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;

}
